body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #24252a;
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
  width: 100vw;
}
::-webkit-scrollbar {
  display: none;
}

.LandingPage {
  background: linear-gradient(rgba(34, 38, 41, 0.8), rgba(34, 38, 41, 0.8)),
    url("LPBackgroundResized.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Navigation Styling */
nav li,
a {
  font-weight: 600;
  font-size: 25px;
  color: #f2f2f2;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 3%;
}

.GIT {
  color: #86c232;
  transition: all 0.5s ease 0s;
  padding: 30px 3%;
}
.GIT:hover {
  color: #f2f2f2;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #86c232;
}

.LandingPage h1 {
  text-align: center;
  padding: 275px;
  font-weight: 600;
  font-size: 40px;
  color: #f2f2f2;
}

.JSD {
  font-weight: 100;
  font-size: 35px;
}

/*About section Styling*/
.AboutMe {
  display: flex;
  background-color: #474b4f;
}

.about-div {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.about-img {
  width: 50%;
  margin: 30px;
}

.about-txt {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #f2f2f2;
}
.about-txt h2 {
  font-size: 60px;
  margin: 0;
}
.about-txt h4 {
  font-size: 30px;
  color: #86c232;
  margin: 0;
}
.about-txt p {
  width: 70%;
  font-size: 25px;
  align-items: center;
}
.about-list {
  color: #86c232;
  font-size: 25px;
  list-style: none;
}
.button-3 {
  width: 150px;
  background-color: #86c232;
  border: 1px solid rgba(32, 35, 38, 0.15);
  border-radius: 6px;
  box-shadow: rgba(29, 31, 33, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
}

/* Skills styling */

.skills {
  background-color: #f2f2f2;
  margin: auto;
  text-align: center;
}

.skills-header {
  color: #86c232;
  padding: 50px;
}

.skills-container img {
  padding: 30px;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.icon-card:hover {
  transform: scale(1.1);
}

/* Project Styles */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-picture {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}
